/* html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
} */

.FlsBtn {
  position: absolute;
  right: 50px;
  bottom: 100px;
  z-index: 999;
  width: max-content;
  height: max-content;
  /* border:1px solid red; */
  margin: 10px;
  background-color: beige;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  border: 3px solid #ec0131;
  cursor: pointer;
}

@media (max-width: 600px) {
  .FlsBtn {
    right: 0;
    bottom: 100px;
  }
}
