/* html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
} */

.FlsBtn {
  position: absolute;
  right: -100px;
  bottom: 50px;
  z-index: 999;
  width: max-content;
  height: max-content;
  /* border:1px solid red; */
}

@media (max-width: 600px) {
  .FlsBtn {
    right: 0;
    bottom: 100px;
  }
}
