@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background: #fedfe5; */
  font-family: "Poppins", sans-serif !important;
}
ul li {
  list-style: none;
}
.Lecture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.Lecture > button {
  margin: 10px;
  background-color: beige;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  background-color: #ec0131;
  cursor: pointer;
}

.Lecture > button:hover {
  background-color: #c53030;
}

.Lecture > button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.reveal {
  position: absolute;
  z-index: 1;
}
.videoTag {
  position: absolute;
  z-index: 2;
}
.video {
  border: 2px solid black;
  padding: 2px;
  width: 220px !important;
  height: 120px !important;
  border-radius: 0px !important;
  background: #161b22;
}
